h1{
    font-family: 'Spectral', serif;
    color:#a3195b;
    text-align: center;
    font-size: 36px;
}

h2{

}

body {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 16px;
}